// === colors ===
:root {
    // accent colors
    --vp-c-accent: #20bacf;
    --vp-c-accent-bg: #20bacf;
    --vp-c-accent-hover: #62cfdd;
    --vp-c-accent-text: var(--vp-c-white);
    --vp-c-accent-soft: rgba(16, 179, 185, 0.14);

    // text colors
    //--vp-c-text: rgb(60 60 67);
    //--vp-c-text-mute: rgb(60 60 67 / 78%);
    //--vp-c-text-subtle: rgb(60 60 67 / 56%);
}